.tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 26px;
  cursor: pointer;
}
.tab span {
  line-height: 19px;
  position: relative;
  font-size: 16px;
  display: block;
  color: var(--color-primary);
}
.tab span::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.bold{
  font-family: "TomatoGrotesk-m";
}
.active::after {
  background: var(--color-primary);
}
.inactive::after {
  display: none;
}
